@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
}

header{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(197, 197, 197, 0.545);
    border-radius: 20px;

    display: flex;
    gap: 110vh;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 20vh;
    margin-right: 20vh;
    align-items: center;

}

.art1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

p{
    font-size: 24px;
    font-weight: bold;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

h1{
    font-size: 44px;
    font-weight: bold;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

h2{
    font-size: 34px;
    font-weight: bold;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

span{
    font-size: 26px;
    font-weight: bold;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}


.Profil{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(197, 197, 197, 0.545);
    border-radius: 20px;
    margin-top: 5vh;
    margin-left: 20vh;
    width: 40vh;
    height: 70vh;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;

}


.ProfilIcons{
    background-color: aliceblue;
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
}




.input-file {
	position: relative;
	display: inline-block;
}


.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #7955E0;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #5c39be;
}
.input-file:active span {
	background-color: #c5c5c5;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}


main{
    display: flex;
}

.historiReisov{
    padding-left: 15vh;
    text-align: center;
    gap: 2vh;
    display: flex;
    justify-content: center;

    padding-top: 5vh;
}